.portfolio{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 200px;
  width: 730px;
  border: 1px solid blue;
  border-radius: 20px;
  background-color: #296eab;
}

.header{
  font-family:Arial, Helvetica, sans-serif;
  color: #b5d7f5;
}
.header_1{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:#1e2b36;
}


.skills{
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.el{
  list-style-type: none;
  font-size: 20px;
}
.el:last-child{
  margin-bottom: 10px;
}

.img img{
  width: 300px;
  margin-top: 5px;
  margin-left: 20px;
  border: 2px solid grey;
}